{% extends "base/base.html" %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">Add Data</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'read_supplier' %}">Data supplier</a></li>
          <li class="breadcrumb-item " ><a  href="{% url 'create_supplier' %}">Create supplier</a></li>
        </ol>
      </nav>
</div>
<div class="row">
    
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
    
                <form class="form-sample" method="post">
                    {% csrf_token %}
                    
                    {% if is_admin or is_auditor %}
                     <div class="form-group row">
                        <label for="id_manufaktur" class="col-sm-3 col-form-label">Manufaktur</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="id_manufaktur" id="id_manufaktur" required>
                                {% for item in manufakturobj %}
                                <option value="{{item.username}}">{{item.nama_usaha}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            
                
                    {% else %}
                    <div class="form-group row">
                        <label for="id_manufaktur"  class="col-sm-3 col-form-label">Manufaktur</label>
                        <div class="col-sm-9">
                            <input type="text" name="id_manufaktur" id="id_manufaktur" class="form-control" placeholder="Nama Auditor" value="{{request.user.username}}" readonly>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group row">
                        <label for="nama_supplier"  class="col-sm-3 col-form-label">Nama Supplier</label>
                        <div class="col-sm-9">
                            <input type="text" name="nama_supplier" id="nama_supplier" placeholder="Nama supplier" class="form-control" required>
                        </div>
                    </div>
                 
            
                   
                        <div class="form-group row">
                        <label for="text"  class="col-sm-3 col-form-label">Jenis Bahan Baku</label>
                        <div class="col-sm-9">
                            <input type="text" name="jenis_bahanbaku" id="jenis_bahanbaku" class="form-control"required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="asal_bahan"  class="col-sm-3 col-form-label">Asal Bahan</label>
                        <div class="col-sm-9">
                            <input type="text" name="asal_bahan" id="asal_bahan"class="form-control" required>
                        </div>
                    </div>
                    

                     <div class="form-group row">
                        <label for="status_halal" class="col-sm-3 col-form-label">Status Halal</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="status_halal" id="status_halal" required>
                                <option value="Halal">Halal</option>
                                <option value="Non Halal">Non Halal</option>
                                <option value="Belum Halal">Belum Halal</option>
                            </select>
                        </div>
                    </div>
                         
                    
                    <button type="submit"class="btn btn-primary mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
