{% extends "base/base.html" %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">Update Data</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active " aria-current="page" ><a class="text-muted" href="{% url 'read_supplier' %}">Data supplier</a></li>
        </ol>
      </nav>
</div>
<div class="row">
    
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
    
                <form class="form-sample" method="post">
                    {% csrf_token %}
                     
                    {% if is_admin or is_auditor %}
                     <div class="form-group row">
                        <label for="id_manufaktur" class="col-sm-3 col-form-label">Manufaktur</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="id_manufaktur" id="id_manufaktur" required>
                                {% for item in manufakturobj %}
                                <option value="{{item.username}}" {% if getsupplier.id_manufaktur.username == item.username %} selected {% endif %}>{{item.nama_usaha}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            
                
                    {% else %}
                    
                    <div class="form-group row">
                        <label for="id_manufaktur"  class="col-sm-3 col-form-label">Manufaktur</label>
                        <div class="col-sm-9">
                            <input type="text" name="id_manufaktur" id="id_manufaktur" class="form-control" placeholder="Nama manufaktur" value="{{request.user.username}}" readonly>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group row">
                        <label for="nama_supplier"  class="col-sm-3 col-form-label">Nama supplier</label>
                        <div class="col-sm-9">
                            <input type="text" name="nama_supplier" id="nama_supplier" class="form-control" placeholder="Nama supplier"value="{{getsupplier.nama_supplier}}" required>
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <label for="jenis_bahanbaku"  class="col-sm-3 col-form-label">Jenis bahan Baku</label>
                        <div class="col-sm-9">
                            <input type="text" name="jenis_bahanbaku" id="jenis_bahanbaku" placeholder="Jenis Bahan Baku" value="{{getsupplier.jenis_bahanbaku}}"class="form-control" required>
                        </div>
                    </div>
            
                        <div class="form-group row">
                        <label for="asal_bahan"  class="col-sm-3 col-form-label">Asal Bahan</label>
                        <div class="col-sm-9">
                            <input type="text" name="asal_bahan" id="asal_bahan" class="form-control"required value="{{getsupplier.asal_bahan}}">
                        </div>
                    </div>
                     <div class="form-group row">
                        <label for="status_halal" class="col-sm-3 col-form-label">Status Halal</label>
                        <div class="col-sm-9">
                             <select class="form-control" name="status_halal" id="status_halal" required>
                            <option value="Halal"     {{ "selected" if getmanufaktur.status_halal == "Halal" }}>Halal</option>
                            <option value="Non Halal" {{ "selected" if getmanufaktur.status_halal == "Non Halal" }}>Non Halal</option>
                            <option value="Belum Halal" {{ "selected" if getmanufaktur.status_halal == "Belum Halal" }}>Belum Halal</option>
                        </select>

                        </div>
                    </div>
                         
                    
                    <button type="submit"class="btn btn-primary mr-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
